body {
    font-family: sans-serif;
}

/* Header */
header h2 {
        font-size:230%
}
header h3{
        font-size:125%
}

/*Main */
main h1 {
    font-size: 140%
}

main h2 {
    font-size: 125%
}